<mat-toolbar color="primary" *ngIf="!showNotification">
    <span>Godav Stocks</span>
    <a mat-button [routerLink]="['/']" routerLinkActive='active' >Home</a>
    <a mat-button [routerLink]="['/','user-protfolio']" routerLinkActive='active'>Protfolio</a>
</mat-toolbar>
<!-- <div *ngIf="notification && showNotification"
     (click)="showNotification = !showNotification"
     class="notification">
  <p>{{ notification }}</p>
</div> -->
<app-stocks-view *ngIf="!showNotification"></app-stocks-view>
<router-outlet></router-outlet>