table {
    width: 100%;
    margin-top: 2%;
  }

.up{
    color: green;
}

.down{
    color: red;
}

mat-card{
    text-align: center;
}

.right{
    text-align:right;
    padding-right: 1%;
}

tr.mat-footer-row {
    font-weight: bold;
  }